@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

.navbar__title {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-weight: 700;
}

.semester {
  font-size: 17px;
  font-weight: 500;
  color: #d92027;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.timetable {
  position: relative;
  top: 20%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 75px 135px 135px 135px 135px 135px;

  grid-template-rows: 50px 100px 100px 100px 100px 100px 50px 50px 100px 100px 100px 50px 50px 50px 50px 100px 100px; 
  font-size: 16px;
}

.mon {
  grid-row: 1/2;
  grid-column: 2/3;
}
.tue {
  grid-row: 1/2;
  grid-column: 3/4;
}
.wed {
  grid-row: 1/2;
  grid-column: 4/5;
}
.the {
  grid-row: 1/2;
  grid-column: 5/6;
}
.fri {
  grid-row: 1/2;
  grid-column: 6/7;
}
.am9 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.am10 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.am11 {
  grid-row: 4/5;
  grid-column: 1/2;
}
.pm12 {
  grid-row: 5/6;
  grid-column: 1/2;
}
.pm1 {
  grid-row: 6/7;
  grid-column: 1/2;
}

.pm2 {
  grid-row: 7/9;
  grid-column: 1/2;
}
.pm3 {
  grid-row: 9/10;
  grid-column: 1/2;
}
.pm4 {
  grid-row: 10/11;
  grid-column: 1/2;

}
.pm5 {
  grid-row: 11/12;
  grid-column: 1/2;

}
.pm6 {
  grid-row: 12/14;
  grid-column: 1/2;

}
.pm7 {
  grid-row: 14/16;
  grid-column: 1/2;
  
}
.pm8 {
  grid-row: 16/17;
  grid-column: 1/2;

}
.pm9 {
  grid-row: 17/18;
  grid-column: 1/2;

  
}
.s1 {
  background-color: #E5707E;
  grid-row: 2/5;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s2 {
  background-color: #FAD586;
  grid-row: 6/8;
  grid-column: 2/3;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s22 {
  background-color: #FAD586;
  grid-row: 6/8;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s3 {
  background-color: #75cfb8;
  grid-row: 9/12;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s4 {
  background-color: #86c0d3;
  grid-row: 2/5;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s5 {
  background-color: #EE9595;
  grid-row:  6/8;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.s66{
    background-color:#EE9595;
    grid-row: 6/8;
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s7 {
  background-color: #9F609C;
  grid-row: 2/5;
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s8 {
  background-color: #AEE1E1;
  grid-row: 13/14;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lion {
  background-color: #F79E1C;
  grid-row: 15/18;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lion2 {
  background-color: lightgreen;
  grid-row: 12/18;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
