.one1 {
  background-color: pink;
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one2 {
  background-color: #FFF5C0;
  grid-row: 10/11;
  grid-column: 2/3;
  /*padding-top: 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one22 {
  background-color: #FFF5C0;
  grid-row: 10/11;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one3 {
  background-color: #a498db;
  grid-row: 2/5;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one4 {
  background-color: #8dc4d8;
  grid-row: 5/8;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one5 {
  background-color: #FF8585;
  grid-row: 4/6;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one6 {
  background-color: #0975a0;
  grid-row: 3/5;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one7 {
  background-color: #8DB596;
  grid-row: 6/9;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one8 {
  background-color: #92817A;
  grid-row: 10/13;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onelion {
  background-color: #F79E1C;
  grid-row: 13/18;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onelion2 {
  background-color: #F79E1C;
  grid-row: 13/18;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
