.two1 {
  background-color: #e7d9ea;
  grid-row: 4/5;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two2 {
  background-color: #32b3eb;
  grid-row: 7/9;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two22 {
  background-color: #32b3eb;
  grid-row: 7/9;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two3 {
  background-color: #e1bc91;
  grid-row: 3/5;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two4 {
  background-color: #16c79a;
  grid-row: 3/5;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two5 {
  background-color: #ee9595;
  grid-row: 7/9;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two55 {
  background-color: #ee9595;
  grid-row: 7/9;
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two6 {
  background-color: #f6d887;
  grid-row: 6/9;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two7 {
  background-color: #949cdf;
  grid-row: 10/11;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two77 {
  background-color: #949cdf;
  grid-row: 10/11;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two8 {
  background-color: skyblue;
  grid-row: 10/13;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twolion {
  background-color: #f79e1c;
  grid-row: 15/18;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twolion2 {
  background-color: #f79e1c;
  grid-row: 14/18;
  grid-column: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
